   body {
    font: 11pt Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
    margin: 0; /* Отступы на странице */
   }
   
   h1 {
    font-size: 36px; /* Размер шрифта */
    margin: 0; /* Убираем отступы */
    color: #fc6; /* Цвет текста */
   }
   
   h2 {
    margin-top: 0; /* Убираем отступ сверху */
   }
   
   h3 {
	font-size: 36px;
	margin:0;
	color: black;
   }
   
    h4 {
	font-size: 25px;
	margin:0;
	color: black;
	font-weight:900;
   }
   
   #sidebar { /* Левая колонка */
    float: left; /* Обтекание справа */
    border: 1px solid #333; /* Параметры рамки вокруг */
    width: 22%; /* Ширина колонки */
    padding: 5px; /* Поля вокруг текста */
	background: orange;
   }
   
   #content { /* Правая колонка */
    margin: 10px 5px 20px 25%; /* Значения отступов */
    padding: 5px; /* Поля вокруг текста */
    border: 1px solid #333; /* Параметры рамки */
   }